.login {
  padding: 60px 0;
  background-image: url("https://images.unsplash.com/photo-1561906309-189467bf5e60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}

.login form {
  margin: 0 auto;
  max-width: 320px;
}

.google-button {
  padding: 10px 10px 10px 10px;
  /* margin: 0 auto; */
  width: auto;
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

.transbox {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.createButton {
  padding: 10px;
  width: auto;
}
